@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Manjari&display=swap");

* {
    font-family: Carlito;
    margin: 0;
}

/* Navbbar */

.navbar {
    background-color: #0a0a0a;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #fe0016 solid 2px;
    position: fixed;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo_image {
    background-color: transparent;
    background-image: url("images/Smash_Ball.svg_branco.png");
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    padding: 15px;
    border-radius: 65px;
}

.navbar_logo_text {
    background-color: transparent;
    background-image: url("images/ssbu-logo.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    width: 130px;
    height: 85px;
}

.navbar_opcoes {
    padding: 25px;
    display: flex;
    width: 100px;
    justify-content: space-around;
}

a {
    font-family: Carlito;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 200;
    transition: all ease-in-out 0.2s;
}

a:hover {
    color: #fe0016;
}

/* Página */

.container_index {
    width: 100%;
    height: 5500px;
    padding-top: 15vh;
}

.container_image {
    background-image: url('images/thumb-1920-927337.png');
        background-position-y: 2%;
        background-position-x: center;
        background-size: 100%;
        background-repeat: no-repeat;
    width: 100%;
    height: 13%;
}

.container_info {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    height: 40%;
    width: 100%;
    padding-top: 75px;
    align-items: center;
}

.bottom {
    display: flex;
    background-color: #0a0a0a;
    height: 300px;
    width: 100%;
}

.carrossel {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 450px;

    border: solid white 1px;
    align-items: center;
    justify-content: start;
    transition: all 500ms ease;
}

.carrossel_image {
    display: flex;
    padding: 40px;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
}

.character_picture {
    height: 300px;
    width: 300px;
    
}

.carrossel_info {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 23px;
    font-weight: 200;
    background-color: white;
    width: 465px;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    background-color: #fe0016;
    width: 465px;
    height: 80px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 4px black;
}

.emblem {
    width: 175px;
    height: 175px;
}

.carrossel_section {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 22%;
    justify-content: center;
    align-items: center;
}

.contagem {
    color: white;
    position: static;
}

.side_button {
    width: 45px;
    height: 45px;
    color: black;
    font-size: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Carlito;
    border-style: none;
    background-color: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.side_button:hover {
    color: white;
    background-color: #fe0016;
}