@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
margin: 0%;
background-color: #002f2f;
font-family: Manjari;
}

/* Conteúdo da navbar */

.navbar {
    height: 100px;
    width: 94%;
    display: flex;
    background-color: #002121;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: solid 1px white;
}

.logo {
    height: 75px;
    width: 75px;
    display: flex;
    background-color: transparent;
}

.list_nav {
    list-style-type: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.a_text {
    background-color: transparent;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 25px;
}

.a_text:hover {
    color: #FF7A00;
}

.a_img {
    background-color: transparent;
    display: flex;
    border-radius: 12px;
}

.a_img:hover {
    background-color: #FF7A00;
}

.Home {
    background-color: transparent;
}

.Ranking {
    background-color: transparent;
}

.Studio {
    background-color: transparent;
}

.Perfil {
    background-color: transparent;
}

.navbar_items {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding-left: 45px;
    width: 500%;
}

.navbar_logo {
    display: flex;
    background-color: transparent;
    height: 75px;
    width: 75px;
}

/* Conteúdo do body */

