@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
margin: 0%;
background-color: #243447;
font-family: Manjari;
}

.voltar {
    display: flex;
    background-image: url("images/desfazer.png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border-style: none;
    margin: 5px;
    transition: all 0.3s;
}

.voltar:hover {
    background-color: #FFDA04;
    background-image: url("images/desfazer\ \(1\).png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    cursor: pointer;
    color: black;
    margin: 5px;
}

.perfil_screen {
    display: flex;
    justify-content: end;
}

.perfil_options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 30vw;
    align-items: center;
}

.perfil_info {
    background-color: #141d26;
    display: flex;
    height: 100vh;
    width: 70vw;
}

.text_perfil_info {
    color: white;
    font-weight: 200;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 25px;
    transition: all 0.3s;
}

a:hover {
    color: #FFDA04;
}

/* cadastro */

.login_screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.login_claro {
    width: 50%;
    height: 100vh;
}

.login_info {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #141d26;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_texto {
    width: 300px;
    height: 60px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 45px;
    background-color: white;
    border-radius: 20px;
    border-style: none;
    display: flex;
    text-align: center;
    text-justify: center;
}

.spam_text {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 40px;
    background-color: transparent;
    margin-top: 10px;
}

.esqueci {
    background-color: transparent;
    display: flex;
    align-items: start;
    width: auto;
    height: 60px;
    justify-content: flex-end;
    margin-top: 5px;
    margin-left: 150px;
}

.a_text_esqueci {
    background-color: transparent;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    transition: all 0.3s;
}

.a_text_esqueci:hover {
    color: #FFDA04;
}

.button_login {
    width: 150px;
    height: 40px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    text-justify: center;
    transition: all 0.3s;
}

.button_login:hover {
    background-color: #FFDA04;
    cursor: pointer;
}

.image_login {
    width: 400px;
    padding-left:   29%;
    padding-top:    25%;
}

.voltar {
    display: flex;
    background-image: url("images/desfazer.png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    size: 15px;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border-style: none;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    margin: 5px;
    transition: all 0.3s;
}

.voltar:hover {
    background-color: #FFDA04;
    background-image: url("images/desfazer\ \(1\).png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
}

.spam_text_logo {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 100px;
    background-color: transparent;
    margin-top: 520px;
    margin-left: 175px;
    position: absolute;
}

.button_perfil_options {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    border-style: none;
    height: 45px;
    width: 175px;
    transition: all 0.2s ease-in-out;
}

.button_perfil_options:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.button_como_jogar {
    position: absolute;
    display: flex;
    margin-top: 120px;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 200;
    font-size: 25px;
    border-radius: 35px;
    border: solid 2px white;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.button_como_jogar:hover {
    color: black;
    background-color: #FFDA04;
    cursor: pointer;
}

.popup {
    background-color: rgb(0,0,0,0.5);
    position:fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.disable{
    display: none;
}

.conteudo-popup {
    text-align: center;
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    border: 3px solid #ff1301;
    padding: 30px;
}

.fechar-popup {
    position: relative;
    top: -70px;
    right: -445px;
    background-color: transparent;
}
.fechar-popup a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.titulo-popup h1 {
    font-size: 32px;
    margin-bottom: 20px;
    background-color: transparent;
}
.titulo-popup {
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
}

.a_text_close {
    background-color: transparent;
    display: flex;
    text-decoration: none;
    font-weight: 200;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

.a_text_close:hover {
    color: #ff1301;
}