@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
margin: 0%;
background-color: #243447;
font-family: Manjari;
}

/* Conteúdo da navbar */

.navbar {
    height: 100px;
    width: 94%;
    display: flex;
    background-color: #141d26;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: solid 1px white;
    justify-content: space-between;
}

.navbar_logado {
    height: 100px;
    width: 94%;
    display: flex;
    background-color: #141d26;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: solid 1px white;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: 75px;
    display: flex;
    background-color: transparent;
}

.list_nav {
    list-style-type: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.a_text {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 25px;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0px;
}

.a_text:hover {
    color: #FFDA04;
}

.a_img {
    background-color: transparent;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.a_img:hover {
    background-color: #FFDA04;
}

.cadastrar {
    background-color: transparent;
}

.perfil {
    background-color: transparent;
}

.entrar {
    background-color: transparent;
}

.navbar_items {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

.navbar_logado .navbar_items {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;
}

.navbar_logo {
    display: flex;
    background-color: transparent;
    height: 75px;
    width: 75px;
}

/* Conteúdo do body */

.mid1 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button_jogar {
    background-color: #ff1301;
    width: 600px;
    height: 85px;
    font-size: 35px;
    border-radius: 18px;
    text-decoration: none;
    font-weight: 200;
    justify-content: center;
    border: solid 1px white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button_jogar:hover {
    background-color: white;
    font-size: 45px;
    border: solid 3px #ff1301;
}

.button_versus {
    background-color: #1957FF;
    width: 600px;
    height: 85px;
    font-size: 35px;
    border-radius: 18px;
    text-decoration: none;
    font-weight: 200;
    justify-content: center;
    border: solid 1px white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button_versus:hover {
    background-color: white;
    font-size: 45px;
    border: solid 3px #1957FF;
}

.button_galeria {
    background-color: #FFDA04;
    width: 600px;
    height: 85px;
    font-size: 35px;
    border-radius: 18px;
    text-decoration: none;
    font-weight: 200;
    justify-content: center;
    border: solid 1px white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button_galeria:hover {
    background-color: white;
    font-size: 45px;
    border: solid 3px #FFDA04;
}

body::-webkit-scrollbar {
    width: auto;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #141d26;     /* color of the tracking area */
    border-left: solid 1px white;

}
  
body::-webkit-scrollbar-thumb {
    background-color: #243447;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: solid 1px white;
    transition: all 0.3s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

/* tela de login */

.login_screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.login_claro {
    width: 50%;
    height: 100vh;
}

.login_info {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #141d26;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_texto {
    width: 300px;
    height: 60px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 45px;
    background-color: white;
    border-radius: 20px;
    border-style: none;
    display: flex;
    text-align: center;
    text-justify: center;
}

.spam_text {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 40px;
    background-color: transparent;
    margin-top: 10px;
}

.esqueci {
    background-color: transparent;
    display: flex;
    align-items: start;
    width: auto;
    height: 60px;
    justify-content: flex-end;
    margin-top: 5px;
    margin-left: 150px;
}

.a_text_esqueci {
    background-color: transparent;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    transition: all 0.3s;
}

.a_text_esqueci:hover {
    color: #FFDA04;
}

.button_login {
    width: 150px;
    height: 40px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    text-justify: center;
    transition: all 0.3s;
}

.button_login:hover {
    background-color: #FFDA04;
    cursor: pointer;
}

.image_login {
    width: 400px;
    padding-left:   29%;
    padding-top:    25%;
}

.voltar {
    display: flex;
    background-image: url("images/desfazer.png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    size: 15px;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border-style: none;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    margin: 5px;
    transition: all 0.3s;
}

.voltar:hover {
    background-color: #FFDA04;
    background-image: url("images/desfazer\ \(1\).png");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
}

.spam_text_logo {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 100px;
    background-color: transparent;
    margin-top: 520px;
    margin-left: 175px;
    position: absolute;
}



.popup {
    background-color: rgb(0,0,0,0.5);
    position:fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.disable{
    display: none;
}

.conteudo-popup {
    text-align: center;
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    border: 3px solid #ff1301;
    padding: 30px;
}

.fechar-popup {
    position: relative;
    top: -70px;
    right: -445px;
    background-color: transparent;
}
.fechar-popup a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.titulo-popup h1 {
    font-size: 32px;
    margin-bottom: 20px;
    background-color: transparent;
}
.titulo-popup {
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
}

.a_text_close {
    background-color: transparent;
    display: flex;
    text-decoration: none;
    font-weight: 200;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

.a_text_close:hover {
    color: #ff1301;
}

.foto_perfil {
    background-image: url("images/account\ \(1\).png");
        background-position: center;
        background-size: 55px;
        background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.foto_perfil:hover {
    background-image: url("images/account\ \(2\).png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
}